body {
  margin: 0rem;
  text-align: center;
  font-family: sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 9.375rem;
}

.middle-container {
  background-color: #272343;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

p {
  font-family: 'Merriweather', serif;
  color: #FFFFFF;
  line-height: 2;
}

.pro {
  text-decoration: underline;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 35px;
}

.para {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Lilita One', cursive;
}

.intro {
  margin: auto auto 50px auto;
  color: #FFFFFF;
}

h1 {
  color: #66BFBF;
  font-size: 5.25rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 70px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copy-right {
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300[x];
  left: 250px;
}

.gamma-pic {
  margin: 100px auto 50px auto;
  width: 15%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  width: 50%;
  margin: 200px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.brain-pic {
  width: 25%;
  float: left;
  margin-right: 30px;

}

.tea-pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #119994);
  background-image: -ms-linear-gradient(top, #11cdd4, #119994);
  background-image: -o-linear-gradient(top, #11cdd4, #119994);
  background-image: linear-gradient(to bottom, #11cdd4, #119994);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.contact-me {
  width: 40%;
  margin: 40px auto 60px;

}

.contact-mesg {
  width: 40%;
  margin: 60px auto 60px;
  line-height: 3;
}